<!-- Custom head content -->
<link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}"/>
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}"/>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="software development, project management, leadership coaching, organisation design, process design, team building">
<meta name="author" content="{{ site.author.name }}"
